.dropdown-item.markdown {
  max-width: 100%;
  a {
    @apply inline-block truncate;
    max-width: calc(100% - 1rem);
    vertical-align: middle;
  }
  p:last-child {
    margin-bottom: 0;
    max-width: 100%;
  }
}

.sponsor-dropdown {
  &__trigger {
    @apply cursor-pointer;
  }
  .popdown {
    @apply shadow-lg;
  }
  .dropdown-items {
    width: 21rem;
  }
}

.sponsor-cards, .channel-cards {
  @apply flex flex-wrap;
  gap: 1rem;
  .card {
    flex-basis: 320px;
  }
  .channel-card__sponsors {
    @apply flex flex-wrap mt-2;
    gap: 1rem;
  }
}

.sponsor-cards {
  .card-body {
    @apply flex items-center;
    gap: 1rem;
  }
}

.text-youtube {
  color: #ff0000;
}