.channel-list {
  @apply flex flex-wrap;
  gap: 1rem;
  .channel-card {
    flex-basis: 320px;
  }
  .sponsor-list {
    @apply flex flex-wrap;
    gap: 1rem;
    img {
      width: 2rem;
    }
  }
}

.dropdown-item.markdown {
  max-width: 100%;
  a {
    @apply inline-block truncate;
    max-width: calc(100% - 1rem);
    vertical-align: middle;
  }
  p:last-child {
    margin-bottom: 0;
    max-width: 100%;
  }
}

.sponsor-dropdown .dropdown-items {
  width: 21rem;
}